body {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: MintCream;
    margin: 0;
}

.fix {
    position: fixed;
    padding: 30px 2px 0;
    background-color: MintCream;
    z-index: 10;
}

.form {
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
}

#loaded-span {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #7d7c7c;
}
#loaded-span-val {
    margin-left: 0.5rem;
}

.form-title {
    height: 23px;
    font-size: larger;
}

#input-number {
    width: 325px;
    font-size: x-large;
    text-align: center;
    margin: 15px 25px 1rem;
}

#output-span {
    padding-top: 150px;
}

span {
    font-size: x-large;
}

span::before {
    margin: 0 15px;
    content: url('./img/tag-open.png');
}

span::after {
    margin: 0 15px;
    content: url('./img/tag-close.png');
}